@media(max-width:2560px){
    body {
        padding-top: 60px;
    }

    /* Laptop only items */
    .md{
        display: none;
    }

    /* Navbar */

    /* Bottom Menu */
    .mobile_menu_bottom{
        display: none;
    }

    .mobile_menu_top{
        display: none;
    }

    .navbar{
        background-color: #4b4b4b !important;
    }
    .navbar-nav>li{
        border-right: 1px solid rgb(214, 212, 212);
    }
      
    .navbar-nav>li:last-child{
        border: none;
    }

    .navbar-light .navbar-brand{
        border-right: 1px solid rgb(214, 212, 212);
        color: #92C67D;
        font-weight: bold;
    }

    .navbar-light .navbar-brand:hover{
        color: #92C67D;
        text-shadow: 0 0 1.5px rgb(72, 197, 23);
    }

    .navbar-light .navbar-brand:active{
        color: #92C67D;
        text-shadow: 0 0 1.5px rgb(72, 197, 23);
    }

    .navbar-nav .nav-item a{
        color: #92C67D !important;
        font-weight: 500;
    }

    .dropdown-menu .dropdown-item{
        border-bottom: 1px solid #dbd2d2;
        margin-bottom: 5px;
        font-weight: 400 !important;
    }

    .dropdown-menu .dropdown-item:last-child{
        border-bottom: 1px solid white;
        margin-bottom: 0px;
    }


    /* Body - Products */

    .main{
        width: 100%;
        display: flex;
        padding: 1em;
    }
    .side_menu{
        flex: 1;
        border: 1px solid black;
       
    }
    .side_menu h3{
        text-align: center;
        border-bottom: 1px solid #555;
        padding-top: 0.33em;
        padding-bottom: 0.33em;
    }
    .side_menu ul{
        padding: 0;
        margin-top: -0.5em;
        list-style-type:none;
    }
    .side_menu ul a{
        text-decoration: none;
        color: #555;
    }
    .side_menu ul li{
        padding: 0.75em;
        text-align: center;
        border-bottom: 1px solid #555;
        background-color: #eeecec;
    }
    .side_menu ul li:hover{
        background-color: #d5d5d5;
    }

    .product_list{
        flex: 5;
        border: 1px solid black;
        padding: 1em;
    }
}


@media (max-width: 769px){
    body {
        padding-top: 0px;
    }
    
    /* Mobile only items */
    .ld{
        display: none;
    }
    .md{
        display: inline;
    }
    
    /* Navbar */
    .laptop-navbar{
        display: none;
    }
    .mobile_menu_bottom {
        justify-content: space-evenly;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: #4b4b4b;
        box-shadow: 0 -2px 5px -2px #333;
    }

    .mm_b {
        flex: 0 0 20%;
        text-align: center;
        margin: 5px;
        font-size: smaller;
    }
    .mm_b a{
        color: #92C67D;
        font-weight: 400;
    }

    .mobile_menu_top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: #4b4b4b;
        box-shadow: 0 2px 5px -2px #333;
        height: 2.5em;
    }

    .mm_t {
        flex: 0 0 45%;
        font-size: smaller;
    }

    .location{
        text-align: left;
        margin-left: 4%;
        margin-top: 3%;
    }
    .location a{
        color: #92C67D;
        font-weight: 500;
        letter-spacing: 0.33px;
    }

    .cart{
        text-align: right;
        margin-right: 4%;
        margin-top: 3%;
    }
    .cart a{
        color: #92C67D;
    }

}